<ul>
    <li><a href="#">BÚA PHÁ ÐÁ</a></li>
    <!-- <li><a href="#">PHỤ TÙNG BÚA PHÁ ÐÁ</a>
        <ul class="sub-menu">
            <li><a href="bac-ngoai/">Bạc Ngoài</a></li>
            <li><a href="bac-trong/">Bạc Trong</a></li>
            <li><a href="bat-da/">Bát Da</a></li>
        </ul> -->
    </li>
    <li><a href="#">KÌM BÓP BÊ TÔNG</a>
        <!-- <ul class="sub-menu">
            <li><a href="han-quoc/">Kìm Bóp Bê Tông Hàn Quốc</a></li>
            <li><a href="be-tong-viet-nam/">Kìm Bóp Bê Tông Việt Nam</a></li>
            <li><a href="be-tong-trung-quoc/">Kìm Bóp Bê Tông Trung Quốc</a></li>
        </ul> -->
    </li>
    <li><a href="#">ĐẦM RUNG THỦY LỰC</a>
        <!-- <ul class="sub-menu">
            <li><a href="trung-quoc/">Đầm Rung Trung Quốc</a></li>
            <li><a href="viet-nam/">Đầm Rung Việt Nam</a></li>
        </ul> -->
    </li>
    <li><a href="#">KÌM GẮP</a>
        <!-- <ul class="sub-menu">
            <li><a href="trung-quoc/">Kìm Gắp Trung Quốc</a></li>
        </ul> -->
    </li>
    <li>
        <a href="rung-ripper/">
            <i class="_mi _before dashicons dashicons-arrow-right"></i>
            <span>BÚA RUNG RIPPER</span>
        </a>
    </li>
    <li>
        <a href="kim-da-qua-su-dung/">
            <i class="_mi _before dashicons dashicons-arrow-right"></i>
            <span>BÚA KÌM ĐÃ QUA SỬ DỤNG</span>
        </a>
    </li>
</ul>