<ul class="main-menu">
    <li class="active"><a href="./index.html">TRANG CHỦ</a></li>
    <li><a href="./shop-grid.html">SẢN PHẨM</a></li>
    <li class="has-dropdown">
        <a href="#">DANH MỤC</a>
        <ul class="dropdown-menu">
            <li><a href="./bua-pha-da.html">Búa phá đá</a></li>
            <li><a href="./dam-rung.html">Đầm rung</a></li>
            <li><a href="./kim-gap.html">Kìm gắp</a></li>
            <li><a href="./kim-bop.html">Kìm bóp</a></li>
            <li><a href="./phu-tung.html">Phụ tùng</a></li>
        </ul>
    </li>
    <li><a href="./blog.html">TIN TỨC</a></li>
    <li><a href="./contact.html">LIÊN HỆ</a></li>
</ul>